.widget-container.multi-instance-demo {
    --widget-background-color: white;
    --widget-width: 400px;
    --widget-height: 300px;

    background-color: var(--widget-background-color);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: none; // this will be rewritten by the widget to sample.webp
    color: black;
    font-size: 32px;
    line-height: 40px;
    white-space: nowrap;
}
